<footer class="footer">
  <a href="https://www.strongswan.org/"> 
     <img src="../../../_/img/strongswan.png" alt="strongSwan Logo" height="100" width="153" style="vertical-align:middle;float:left;margin:0px 20px"></a>
  <p>Copyright &copy; 2021-2022 <a href="mailto:info@.strongswan.org">The strongSwan Team</a> and individual contributors.
     The content is provided under a <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license<p>
  <p>The UI for this site is derived from the Antora default UI and is licensed under
     the <a href="https://www.mozilla.org/en-US/MPL/2.0/">MPL-2.0</a> license.</p>
 </footer>

