@media screen and (min-width:1024px) {
	.doc {
		font-size: .85rem;
	}
}

.doc .admonitionblock code {
	font-size:  0.95em;
}

.doc pre {
	font-size: .75rem;
	line-height: 1.3;
}

.doc p a code {
	color: inherit;
}

.doc thead th {
	background-color: #f1f1f1;
}

.navbar {
	background: #8a0020;
}

.doc .admonitionblock td.icon {
	font-size: .82rem;
}

.doc .admonitionblock td.icon i {
	background: linear-gradient(90deg,rgba(0,0,0,.2) 0,rgba(0,0,0,.2)) no-repeat 0 /2.05em 100%;
	border-radius: .45em;
	height: 1.5em;
	padding: 0 .5em;
}

.doc .admonitionblock td.icon i::before {
	background: no-repeat .05em/1em 1em;
	content: "";
	filter: invert(100%);
	height: inherit;
	width: 1.5em;
}

.doc .admonitionblock td.icon i::after {
	padding-left: .5em;
}

.doc .admonitionblock td.icon i.icon-note::before {
	background-image: url("../img/admonitions.svg#view-info");
}

.doc .admonitionblock td.icon i.icon-tip::before {
	background-image: url("../img/admonitions.svg#view-light-bulb");
}

.doc .admonitionblock td.icon i.icon-important::before {
	background-image: url("../img/admonitions.svg#view-stop");
}

.doc .admonitionblock td.icon i.icon-caution::before {
	background-image: url("../img/admonitions.svg#view-flame");
}

.doc .admonitionblock td.icon i.icon-warning::before {
	background-image: url("../img/admonitions.svg#view-alert");
}
