code,
kbd,
pre {
	font-size: .75rem;
}

@media screen and (min-width:1024px) {
	.doc {
		font-size: .85rem;
	}
}

.doc pre {
	font-size: .75rem;
	line-height: 1.3;
}

.navbar {
	background: #8a0020;
}
