@media screen and (min-width:1024px) {
	.doc {
		font-size: .85rem;
	}
}

.doc .admonitionblock code {
	font-size:  0.95em;
}

.doc pre {
	font-size: .75rem;
	line-height: 1.3;
}

.doc p a code {
	color: inherit;
}

.navbar {
	background: #8a0020;
}
